<html>
  <head>
    <title>Data from Mongo DB</title>
  </head>
  <body>
    <h2><%=message%></h2>

    <% if( Array.isArray(reports) ) { %>
      <ul>
        <% reports.forEach( function( report ){ %>
	  <li> <%= report.location %> ; <%= report.description %> ; <%= report.timestamp %></li>
	  <% })} else { %>
	  <p>
	    Location: <%= reports.location %>
	    Description: <%= reports.description %>
	    Time: <%= reports.timestamp %>
	  </p>
	<% }; %>
      </ul>
  </body>
</html>
